<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-03-14T03:46:06Z</date>
	<key>WorkspacePath</key>
	<string>/Users/kevinthom/Downloads/SIT/ICT1009 - OOP/CPP Proj/ict1009-team22-2022-cpp/ICT1009 CPP Proj/ICT1009 CPP Proj.xcodeproj</string>
</dict>
</plist>
